<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}

    <!-- PRIMERO cargamos la librería de socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- LUEGO cargamos nuestro script cliente -->
    <script src="/js/realtime.js"></script>
  </body>
</html>